SERVER_PORT = 5038
SERVER_HOST = 127.0.0.1
NODE_ENV = 

# populate those variables with your local DB values to connect with
POSTGRES_PORT =
POSTGRES_HOST =
POSTGRES_USERNAME =
POSTGRES_PASSWORD =
POSTGRES_DB =

# this should be any randomly generated string (used for enciphering certain fields in DB)
TYPEORM_ENCRYPTION_KEY =

# randomly generated string used for encrypting DB columns related to calendars
FIELD_TRANSFORMER_ENCRYPTION_KEY =

# Got to the Auth0 dashboard, Application => Application, open "Server API" and take values to populate those keys
AUTH0_DOMAIN = dev-dzdny2bmhpyp80gu.us.auth0.com
AUTH0_CONNECTION = Username-Password-Authentication
AUTH0_IDENTIFIER = https://dev-dzdny2bmhpyp80gu.us.auth0.com/api/v2/
AUTH0_MANAGEMENT_CLIENT_ID = AZpCYbRyIDwU3Iu7EdSYNZF9UNUwiqau
AUTH0_MANAGEMENT_CLIENT_SECRET =bZaCsBSxgvzLPD741VpLULfNIFQmE958ZmFeuueAlk5BX4MpeE7ph4zMBjGIWgr5
# only required for getting an access token locally
AUTH0_TEST_USER_PASSWORD =4XS3LJbr82mWPgD
# This is a custom randomly generated secret for Auth0 action (hook) usage, basically, it's not required locally because Auth0 cannot call localhost but it's critical on the Prod server. For local set up it can be skipped
AUTH0_ACTION_SECRET =

# Go to the Render.com account and take those secrets from there (those values are needed to test or change the CI\CD script in the .github folder, it's critical to have in it the GitHub and Prod server but optional for local server start up)
RENDER_SERVICE_ID=
RENDER_API_KEY=

# Get these from the Redis instance on render.com
REDIS_HOSTNAME =
REDIS_PORT =

# Go to the Pusher Channels account to take those values
PUSHER_APP_ID =
PUSHER_APP_KEY =
PUSHER_APP_SECRET =
PUSHER_APP_CLUSTER =

# Go to the Pusher Beams account to take those values
PUSHER_BEAMS_INSTANCE_ID =
PUSHER_BEAMS_PRIMARY_KEY =

# Take those for RevenueCat account
REVENUE_CAT_SECRET_KEY =
REVENUE_CAT_PUBLIC_KEY =

# Take those from Stripe account
STRIPE_SECRET_KEY =
STRIPE_CHECKOUT_SUCCESS_URL =
STRIPE_CHECKOUT_CANCEL_URL =
STRIPE_WEBHOOK_SECRET =

# Get this from the Brevo account
SENDINBLUE_MA_KEY =
BREVO_API_KEY =

# Get these from Sentry
SENTRY_DSN =
SENTRY_DEBUG =
SENTRY_ENV =
SENTRY_RELEASE =
SENTRY_LOG_LEVELS =

# Get this from the Google Developers dashboard
YOUTUBE_API_KEY =

# Get these from the Cloudflare R2 dashboard
R2_ENDPOINT =
R2_ACCESS_KEY_ID =
R2_SECRET_ACCESS_KEY =
R2_SIGNATURE_VERSION =
R2_REGION = 

OPENAI_API_KEY =

# use local URL for local testing, use URL generated for staging server to test on staging
STAGING_SERVER_URL =

# Get from sendgrid Dashboard
SENDGRID_KEY =

# Can be any random string
JWT_INVITATION_SECRET =

#Get these from Zoho
ZOHO_CALLBACK_URL = should be URL of callback path for dashboard zoho login
ZOHO_CALLBACK_URL_DEVELOPMENT = https://dashboard.local.dev:3000/zohocallback
ZOHO_CLIENT_ID =
ZOHO_CLIENT_SECRET =
ZOHO_CLIQ_API_KEY =
ZOHO_CLIQ_BACKEND_BOT_WEBHOOK = 
ZOHO_CLIQ_CUSTOMER_FEEDBACK_CHANNEL = customerfeedback
ZOHO_CLIQ_QUIT_UNINSTALL_CHANNEL = quituninstallfeedback

#Get these from Monday
MONDAY_CALLBACK_URL= should be URL of callback path for dashboard zoho login
MONDAY_CLIENT_ID=
MONDAY_CLIENT_SECRET=

#Get these from Jira
JIRA_CALLBACK_URL=should be URL of callback path for dashboard jira login
JIRA_CLIENT_ID=
JIRA_CLIENT_SECRET=

#Get these from Asana
ASANA_CALLBACK_URL=should be URL of callback path for dashboard asana login
ASANA_CLIENT_ID=
ASANA_CLIENT_SECRET=

#Get these from Clickup
CLICKUP_CALLBACK_URL=should be URL of callback path for dashboard clickup login
CLICKUP_CLIENT_ID=
CLICKUP_CLIENT_SECRET=

#Get these from Trello
TRELLO_CALLBACK_URL=should be URL of callback path for dashboard trello login
TRELLO_CLIENT_ID=
TRELLO_CLIENT_SECRET=
TRELLO_APP_NAME=

#Get these from Google Cloud Console
GOOGLE_CALLBACK_URL= should be URL of callback path for dashboard google login
GOOGLE_DEVELOPMENT_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_DEVELOPMENT_CLIENT_ID=
GOOGLE_DEVELOPMENT_CLIENT_SECRET=
GOOGLE_APP_NAME=

#Get these from Microsoft
MICROSOFT_CALLBACK_URL=should be URL of callback path for dashboard microsoft login
MICROSOFT_TENANT_ID=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_APP_NAME=

devFrontendUrl = https://dashboard.local.dev:3000

frontEndUrl = https://dashboard.focusbear.io

stripe_test_mode_api_key=
