# compiled output
/dist
/node_modules
/.dbdata
/.tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
todo.txt

/storage 

.history

/tmp

# cron job cache
/routine-notifications-cron-job/evening-message-en.json
/routine-notifications-cron-job/evening-message-es.json
/routine-notifications-cron-job/morning-message-en.json
/routine-notifications-cron-job/morning-message-es.json

package-lock.json

.cursor

*.csv

# Sentry Config File
.env.sentry-build-plugin
